---
---

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons";

a {
	color: #045B85;
}

a:hover {
	color:#80BACE;
}

footer {
	background-color:#045b85;
}

.fancy {
	font-family: "Garamond";
	font-size: 3rem;
	font-style: italic;
}

.fancy-p {
	font-size: 1.75rem;

}

h1, h2, h3 {
	font-family: "Garamond";
	font-size: 3rem;
	font-style: italic;
	color:#045b85;
}